.sidebar {
	background: #10564f;
	grid-area: sidebar;
	overflow-y: auto;
	padding: 20px;
	transition: all ease 0.5s;

	.sidebar__header {
		display: flex;
		gap: 2em;
		justify-content: space-between;
		align-items: center;
		color: whitesmoke;
		margin-bottom: 30px;

		.sidebar__logo {
			display: flex;
			align-items: center;
			width: 75px;
			object-fit: contain;
		}

		& h1 {
			width: 100%;
			font-size: 18px;
			display: inline;
		}

		.sidebar__icon {
			font-size: 32px;
			cursor: pointer;
			display: none;
		}
	}

	.sidebar__menu {
		.sidebar__link__container {
			display: flex;
			gap: 1em;
			align-items: center;
			color: white;
			padding: 10px;
			border-radius: 3px;

			.sidebar__link {
				text-decoration: none;
				color: lightgray;
				font-weight: 700;
				text-transform: capitalize;
			}
		}
	}

	.sidebar__logout {
		display: flex;
		gap: 1em;
		align-items: center;
		margin-top: 20px;
		padding: 10px;
		color: #e65061;

		.sidebar__logout__icon {
			font-size: 18px;
		}

		.sidebar__link {
			text-decoration: none;
			color: #e65061;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.sidebar_responsive.sidebar {
	min-height: 100%;
	display: inline;
	z-index: 10;
	left: 0;
	position: absolute;
}

@media only screen and (max-width: 978px) {
	.sidebar {
		display: none;

		.sidebar__header {
			.sidebar__icon {
				display: inline;
			}
		}
	}
}
